<div class="container-flex overflow-hidden">
    <div class="row">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/first.jpg" class="d-block w-100" height="604px" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/second.jpg" class="d-block w-100" height="604px" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/third.jpg" class="d-block w-100" height="604px" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>